{% extends 'complaints/base.html' %}

{%block pagetitle %} AMC Client {% endblock %}

{% block title %}AMC Clients {% endblock %}

{% block primary %} 

{% if latest_amc_list %}
    <table class="table table-striped table-bordered" >
    <tr>
    <th>Client Name</th>
    <th>Renewal Date</th>
    </tr>
    {% for amc in latest_amc_list %}
        <tr>
        <td><a href="{% url 'complaints:amc_details' amc.id %}">{{ amc.client_name }}</a></td>
        <td>{{ amc.renewal_date }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No AMC Clients are available.</p>
{% endif %}
{% endblock %}